.background-image {
  background-image: url('../../assets/backgrounds/b9.jpg');
  /* background-image:url('http://kodeforest.net/html/eco-friendly/images/eco-services-bg-img.jpg'); */
  /* background-image: url('https://image.freepik.com/free-vector/white-textured-paper_53876-86282.jpg'); */
  background-repeat: no-repeat;
  /* background-image: url(https://images.unsplash.com/photo-1522173096622-763cc9d35a3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9); */
  background-size: cover;
  background-attachment: fixed;
  background-image: url;
}

.Section-1 .menu-container {
  position: absolute;
  z-index: 1030;
  height: 350px;
}

.Section-1 .menu-container .list-group {
  width: 190px;
}

@media (max-width: 1200.98px) {
  .Section-1 .menu-container {
    height: 100%;
  }
}

.Section-2 .card-deck .card {
  border: unset;
}

.Section-2 a:hover,
.Section-2 a:focus,
.Section-4 .brand-container:hover,
.Section-4 .brand-container:focus {
  text-decoration: none;
  box-shadow: 0 0 5px rgb(0 255 8 / 50%);
  transform: scale(0.97);
}

.Section-2 a,
.Section-3 .collection-box,
.Section-4 .brand-container,
.Section-5 .categories-box {
  transition: all 0.3s ease-in;
}

.Section-3 .collection-box:hover,
.Section-3 .collection-box:focus,
.Section-5 .categories-box:hover,
.Section-5 .categories-box:focus {
  text-decoration: none;
  box-shadow: 2px 2px 5px rgb(0 255 8 / 30%);
  transform: scale(0.97);
}

.Section-3 .collection-box:not(:last-child) {
  margin-right: 0.25rem !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: block !important;
}

@media (max-width: 520.98px) {
  .Section-3 .collection-box {
    margin-bottom: 1.5rem !important;
  }
  .Section-3 .collection-box:not(:last-child) {
    margin-right: 0 !important;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    display: none !important;
  }
}

.Section-4 .brand-item {
  height: 180px;
  width: 180px;
}

.Section-4 .brand-container:not(:last-child) {
  margin-right: 0.5rem !important;
}

.brand-photo img {
  height: 40px;
  width: 40px;
  box-shadow: 0px 0px 6px 0px rgb(0 255 8 / 90%);
}
