.menu-list {
  position: absolute;
  left: 23%;
  z-index: 1050;
}

@media (max-width: 990.98px) {
  .navbar-collapse {
    z-index: 1040;
    width: 100%;
    top: 61px;
  }

  .menu-list {
    position: absolute;
    top: 105.2px;
    left: 3.2%;
    z-index: 1050;
  }
}

@media (max-width: 550.98px) {
  .menu-list {
    top: 132.4px;
    left: 0;
  }
}
