@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.dark-mode {
  background-color: black;
  color: white;
}

.bg-success {
  background-color: rgba(92, 234, 124, 0.5) !important;
}

.text-green-light {
  color: #4cef06 !important;
}

.title-price {
  font-size: 1.1rem;
  color: #4cef06;
}
.btn-link {
  font-weight: 400;
  color: #4cef06 !important;
  text-decoration: none !important;
}

.btn-link:hover {
  color: rgba(63, 187, 9, 0.8) !important;
  text-decoration: none !important;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #4cef06;
  border-color: #4cef06;
}

a {
  color: unset !important;
}

button:focus,
a:focus {
  box-shadow: unset !important;
  outline: unset !important;
}

.dropdown-toggle {
  padding: 0.1rem 0.5rem;
  font-size: 0.8rem;
}

p,
h5,
.h5 {
  margin-bottom: 0;
}

.text-line-through {
  text-decoration: line-through;
}

.logo {
  position: absolute;
  top: 50%;
  left: 4.5%;
  transform: translateY(-50%);
}

.image-size {
  height: 350px;
  width: 800px;
  border-radius: 0.3rem;
}

.countdown span {
  color: #4cef06;
  background-color: rgb(0 255 8 / 20%);
  padding: 0.25rem !important;
  font-size: 1rem;
}

@media (max-width: 1100.98px) {
  .image-size {
    height: 100%;
    width: 100%;
  }
}
