@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-family: 'Inter', sans-serif !important;
}

.z-index {
  z-index: 100;
}

.object-fit-contain {
  object-fit: contain;
}

.select-container > div {
  background-color: transparent;
  color: #4cef06;
}

.sb-height {
  height: 37px;
}

select,
option {
  font-size: 0.8rem !important;
}

.tr-vh-100 {
  height: 100vh;
}

@media (max-width: 560.98px) {
  .tr-vh-100 {
    height: unset;
  }
  .logo {
    top: 34px !important;
  }
}

.w-10 {
  width: 10%;
}

.filter-brightness {
  filter: brightness(0.5);
}

.nk-shadow-box-1 {
  box-shadow: -2px 3px 5px 1px rgba(92, 234, 124, 0.3);
}

.list-group-item-action:hover .pos-arrow-list {
  opacity: 1;
}

.list-group-item-action:focus,
.list-group-item-action:hover {
  background-color: rgb(0 255 8 / 20%) !important;
}

.pos-arrow-list {
  font-size: 2rem;
  position: absolute;
  top: 35%;
  right: 2%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

/* Search */

.search-container div {
  width: 100%;
}

.search-container input {
  border-radius: 0;
}

.react-search-box-dropdown {
  position: absolute;
  top: 20px;
  font-size: 10px;
  width: 85%;
  z-index: 9999;
}

li.react-search-box-dropdown-list-item {
  height: 28px !important;
}

/* Dark-Mode */

.dark-mode {
  background-color: rgb(255 255 255 / 78%);
  filter: invert(1);
}

.dark-mode .filter-invert {
  filter: invert(1);
}

.dark-mode .search-container input,
.dark-mode li.react-search-box-dropdown-list-item {
  background-color: rgb(199 131 131 / 68%);
  color: #000;
}

.dark-mode li.react-search-box-dropdown-list-item:hover {
  background-color: rgb(222 117 165);
}

.dark-mode .search-container input::placeholder {
  color: #000;
}

.dark-mode .bg-white {
  background-color: rgb(212 187 187) !important;
}

.dark-mode .bg-success {
  background-color: rgb(212 187 187) !important;
}

.dark-mode .bg-success-dark {
  background-color: rgb(29 78 26) !important;
}

.dark-mode .nk-shadow-box-1 {
  box-shadow: -2px 3px 5px 1px rgb(56 89 63 / 30%);
}

.dark-mode .list-group a {
  color: #000 !important;
  background-color: rgb(255 255 255 / 0%) !important;
  font-weight: 700;
}

.dark-mode .list-group a:hover {
  background-color: rgb(222 117 165) !important;
}

.dark-mode .list-group-item-action:hover .pos-arrow-list {
  color: #000 !important;
}

.dark-mode .text-white {
  color: #00fe2e !important;
  filter: invert(1);
}

.dark-mode .dropdown-menu {
  color: #fff;
  background-color: rgb(212 187 187);
}

.dark-mode .dropdown-item:focus,
.dark-mode .dropdown-item:hover {
  background-color: rgb(141 220 63 / 79%);
}

.dark-mode .navbar a,
.dark-mode .navbar button,
.dark-mode .carousel-item,
.dark-mode .Section-2 img,
.dark-mode .Section-3 img,
.dark-mode .Section-4 img,
.dark-mode .Section-5 img,
.dark-mode .title-price,
.dark-mode .Section-3 .btn-link,
.dark-mode .Section-4 .btn-link {
  filter: invert(1);
}

.dark-mode .dark-mode-green {
  filter: invert(1);
  color: #fff;
}

.dark-mode .list-group-item-action:focus,
.dark-mode .list-group-item-action:hover {
  background-color: rgb(179 66 193 / 90%);
}

.dark-mode .Section-2 a {
  background-color: rgb(255 255 255 / 0%);
}

.dark-mode .Section-2 a:hover,
.dark-mode .Section-2 a:focus,
.dark-mode .Section-4 .brand-container:hover,
.dark-mode .Section-4 .brand-container:focus {
  box-shadow: 0 0 7px 1px rgb(102 16 242);
}

.dark-mode .Section-3 .collection-box:hover,
.dark-mode .Section-3 .collection-box:focus,
.dark-mode .Section-5 .categories-box:hover,
.dark-mode .Section-5 .categories-box:focus {
  box-shadow: 0px 0px 5px rgb(102 16 242);
}

.dark-mode .Footer-information {
  color: #000 !important;
}

.dark-mode .Footer-information a {
  filter: invert(1);
}

/* Dark-Mode-End */

.dropdown-menu {
  min-width: 100%;
  font-size: 0.7rem;
}

.bg-wood {
  background-color: #a8958f;
}

.bg-success {
  background-color: rgba(92, 234, 124) !important;
}

.btn-success:hover,
.btn-success.focus,
.btn-success:focus {
  background-color: #4cef06;
  border-color: #4cef06;
}

.text-green-light {
  color: #9a908c !important;
}

.title-price {
  font-size: 1.1rem;
  color: #9a908c;
}
.btn-link {
  font-weight: 400;
  color: #9a908c !important;
  text-decoration: none !important;
}

.btn-link:hover {
  color: rgb(113, 102, 98) !important;
  text-decoration: none !important;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #4cef06;
  border-color: #4cef06;
}

a {
  color: unset;
}

a small {
  font-weight: 700;
}

button:focus,
a:focus {
  box-shadow: unset !important;
  outline: unset !important;
}

.dropdown-toggle {
  padding: 0.1rem 0.5rem;
  font-size: 0.8rem;
}

p,
h5,
.h5 {
  margin-bottom: 0;
}

.text-line-through {
  text-decoration: line-through;
}

.logo {
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
}

.image-size {
  height: 350px;
  width: 100%;
  border-radius: 0.3rem;
}

.carousel-caption {
  right: unset;
  bottom: unset;
  left: unset;
}

.countdown span {
  color: #4cef06;
  background-color: rgb(0 255 8 / 20%);
  padding: 0.25rem !important;
  font-size: 1rem;
}

.select-container div {
  font-size: 0.7rem;
  font-weight: 600;
  border-color: #4cef06;
}

.Seciton-footer {
  background: url(http://kodeforest.net/html/eco-friendly/images/eco-services-bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgb(44 82 61 / 20%);
}

.Footer-information a {
  color: #4cef06 !important;
}

@media (max-width: 998.98px) {
  .collapse {
    position: absolute;
  }

  .carousel-caption {
    position: unset !important;
  }
}

@media (max-width: 1100.98px) {
  .image-size {
    height: 100%;
    width: 100%;
  }
}
